<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list>
      <h3 mat-subheader>Geral</h3>
      <a mat-list-item *ngFor="let folder of folders" routerLink="{{folder.link}}">
        <mat-icon mat-list-icon color="primary">{{folder.icon}}</mat-icon>
        <h5 mat-subheader>{{folder.name}}</h5>
      </a>
      <!-- <mat-divider></mat-divider>
      <h3 mat-subheader>Afastamento</h3>
      <a mat-list-item *ngFor="let folder of folders" routerLink="{{folder.link}}">
        <mat-icon mat-list-icon color="primary">{{folder.icon}}</mat-icon>
        <h5 mat-subheader>{{folder.name}}</h5>
      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>