table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .main-column {
      width: 40%;
  }

  .opcoes-column {
    width: 100%;
    text-align: center;
}
mat-spinner {
  margin:0 auto;
}

.button-row {
  display: flex;
  align-items: left;
}

