/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto Condensed|Source Sans Pro|Meera Inimai|Raleway');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './styles.custom-theme.scss';
/**/
@import './app/pages/dashboard/dashboard.component.scss';
@import './app/pages/categorias/categorias.component.scss';

@import './app/layout/dialogs/exclusao/exclusao-dialog.component.scss';

html, body {
    height: 100%;
    background: #EFEEF4; }

.content-title{
    position: fixed;
    background: #36414F;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
     z-index: 4;
}

.button-row {
    display: flex;
    align-items: left;
  }

  .main-body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 120px;
}
  .custom-nav-bar {
    z-index:3;
    position:
    fixed; margin-top:45px
  }
  .custom-nav-bar-row {
    margin-top:15px;
    font-size:13px;
    font-weight: 200;
    font-family:'Roboto'
  }
